<%= error_messages_for(f.object) %>

<div class="form-group">
  
  <% for role in Role.all %>
    <% if role.role == 'user' %>
      <%= hidden_field_tag "user[role_ids][]", role.id %>
    <% end %>
  <% end %>

  <%= f.label(:avatar) %>
  <%= f.file_field(:avatar, :class => 'form-control') %>

  <%= f.label(:first_name) %>
  <%= f.text_field(:first_name, :class => 'form-control') %>

  <%= f.label(:last_name) %>
  <%= f.text_field(:last_name, :class => 'form-control') %>

  <%= f.label(:email) %>
  <%= f.text_field(:email, :class => 'form-control') %>

  <%= f.label(:username) %>
  <%= f.text_field(:username, :class => 'form-control') %>

  <%= f.label(:password) %>
  <%= f.password_field(:password, :class => 'form-control') %>

  <%= f.label(:password_confirmation) %>
  <%= f.password_field(:password_confirmation, :class => 'form-control') %>
</div>
