<% @page_title = 'My Account' %>

<div class="jumbotron">
	<%= image_tag @user.avatar.url(:thumb), :class => 'img-thumbnail img-fluid float-left mr-2' %>
	<h1 class="display-3">Hello <%= @user.first_name %>!</h1>
	<p class="lead">Here are all your uploaded photos.</p>
	<hr class="my-4">
	<% @user.photos.each do |photo| %>
		<figure class="figure">
			<%= link_to photo_path(photo) do %> 
				<%= image_tag photo.image.url(:medium), :class => 'figure-img img-fluid rounded mr-4',
					:alt => photo.caption %>
			<% end %>
			<figcaption class="figure-caption"><%= photo.caption %></figcaption>
		</figure>
	<% end %>
</div>
