<%= error_messages_for(f.object) %>

<div class="form-group">
	
	<%= f.label(:category_id) %>
	<%= f.collection_select(:category_id, @categories, :id, :category, :class => 'form-control') %>
	<br>
  <%= f.label(:image) %>
  <%= f.file_field(:image, :class => 'form-control') %>

  <%= f.label(:caption) %>
  <%= f.text_field(:caption, :class => 'form-control') %>
  
  <%= f.hidden_field :user_id, :value => session[:user_id] %>

</div>
