<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="description" content="">
  <meta name="author" content="">
  <title>Podil | <%= @page_title || "Welcome to Podil" %></title>
  <%= stylesheet_link_tag('application', :media => 'all') %>
  <%= javascript_include_tag('application') %>
  <!-- Custom CSS -->
  <style>

  </style>

</head>
  <body>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Podil</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= active_class(root_path) %>">
            <a class="nav-link" href="/">Home</a>
          </li>

          <% if session[:user_id] %>
          <li class="nav-item <%= active_class(home_account_path) %>">
            <%= link_to(home_account_path, :class => 'nav-link') do %>
              My Account 
            <% end %>
          </li>
          <% end %>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
        </ul>
        <ul class="navbar-nav float-right">
          <% if session[:user_id] %>
            <li class="nav-item">
              <%= link_to 'Upload New Photo', new_photo_path, :class => 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Logout', home_logout_path, :class => 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Register', new_user_path, :class => 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign In', home_login_path, :class => 'nav-link' %>
            </li>
          <% end %>
        </ul>
    </nav> 